[submodule "mrcnn/DynaSLAM"]
	path = detectron2-mrcnn/DynaSLAM
	url = https://github.com/eliabntt/DynaSLAM.git
[submodule "mrcnn/detectron2"]
	path = detectron2-mrcnn/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5.git
